body{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;    
    background-image: url(/mountains.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

form{
    padding: 20px;
    margin: 100px 0px 0px 0px;
    background-image: linear-gradient(purple, blue);
    width: 400px;
    box-shadow: blue;
    
}

#title{
    font-size: 32px;
    font-weight: 700;
    color: white;
    margin: 20px;
}

#counter{
    font-size: 48px;
    font-weight: 700;
    font: 600;
    color: white;
}

#btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

#countID{
    margin: 8px;
    padding: 8px 16px;
    background-color: red;
    color: white;
    border: 1px red solid;
    border-radius: 2px;
}

#countID:hover{
    background-color: rgb(250, 206, 206);
    color: blue;
    border: 1px blue solid;
}

#saveBtn{
    margin: 8px;
    padding: 8px 24px;
    background-color: white;
    color: blue;
    border: 1px white solid;
    border-radius: 2px;
}

#saveBtn:hover{
    background-color: rgb(250, 206, 206);
    color: blue;
    border: 1px blue solid;
}

#savedCount{
    color: white;
    font-size: 12px;
}